.container
  .p-3
    .py-3.d-flex.justify-content-between
      %div
        %h2 List of blogs
      %div
        %a.btn.btn-success{href: "blogs/new"} Create Blog

    .list-group.w-auto
      - @blogs.each do | blog |
        %a.list-group-item.list-group-item-action.d-flex.gap-3.py-3{href: "blogs/#{blog.id}"}
          %img.rounded-circle.flex-shrink-0{src: "https://github.com/twbs.png", width: "32", height: "32"}
          .d-flex.gap-2.w-100.justify-content-between
            %div
              %h6.mb-0= blog.title
              %p.mb-0.opacity-75= blog.content
            %img.pointer{src: "trash.svg", width: 24, onclick: "remove(event)", id: "#{blog.id}"}

:javascript
  function remove(e) {
  e.preventDefault();
    console.log('test event', e.target.id);
    const id = e.target.id;
    fetch('/blogs/' + id, {
      method: 'delete',
      redirect: 'follow'
    }).then(res => {
      console.log('response: ', res);
      location.reload();
    });
  }

